/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: var(--blue-dark);
  --bg-image: var(--bg-dark-image);
  --main-heading-color: var(--purple-violet);
  --secondary-heading-color: var(--pink-fuchsia);
  --accent-text-color: var(--blue-dark);
  --accent-color: var(--pink-fuchsia);
  --main-text-color: var(--pink-light);

  --decorated-zone-color: var(--pink-fuchsia);
  --nav-accent-color: var(--pink-fuchsia);
  --nav-accent-color-fade: rgb(var(--pink-fuchsia-rgb) / 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --bg-color: var(--blue-dark);
    --bg-image: var(--bg-dark-image);
    --main-heading-color: var(--purple-violet);
    --secondary-heading-color: var(--pink-fuchsia);
    --accent-text-color: var(--blue-dark);
    --accent-color: var(--pink-fuchsia);
    --main-text-color: var(--pink-light);

    --decorated-zone-color: var(--pink-fuchsia);
    --nav-accent-color: var(--pink-fuchsia);
    --nav-accent-color-fade: rgb(var(--pink-fuchsia-rgb) / 0.5);
  }
}