/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: var(--pink-very-light);
  --bg-image: var(--bg-light-image);

  --main-heading-color: var(--pink-soft);
  --secondary-heading-color: var(--gray-dark);
  --accent-text-color: var(--gray-dark);
  --accent-color: var(--pink-medium);

  --main-text-color: var(--gray-dark);
  --nav-accent-color: var(--gray-dark);
  --decorated-zone-color: var(--gray-dark);
  --nav-accent-color-fade: rgb(var(--gray-dark-rgb) / 0.5);

  .header__recording-item {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --bg-color: var(--pink-very-light);
    --bg-image: var(--bg-light-image);

    --main-heading-color: var(--pink-soft);
    --secondary-heading-color: var(--gray-dark);
    --accent-text-color: var(--gray-dark);
    --accent-color: var(--pink-medium);

    --main-text-color: var(--gray-dark);
    --nav-accent-color: var(--gray-dark);
    --decorated-zone-color: var(--gray-dark);
    --nav-accent-color-fade: rgb(var(--gray-dark-rgb) / 0.5);

    .header__recording-item {
      display: none;
    }  
  }  
}